#server-report{
	border: 0px none; 
	overflow: hidden;
	margin: 0px auto;
	height: 175px;
}
#server-report iframe{
	border: 0px none; 
	margin-left: 0px; 
	height: 859px; 
	margin-top:-180px; 
	width: 100%;
}
p.text{
	margin:0px;
	padding:0px 10px;
	font-size:12px;
}

@-moz-document url-prefix() { 
	#server-report{
		border: 0px none; 
		overflow: hidden;
		margin: 0px auto;
		height: 180px;
	}
	#server-report iframe{
		border: 0px none; 
		margin-left: 0px; 
		height: 859px; 
		margin-top:-205px; 
		width: 100%;
	}
}

a.inputbutton{
	height: 15px;
	padding:8px;
	margin-right: 9px;
}