#message_wrapper
{
	background: #222;
	color: #000000;
	font-size: 12px;
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	font-weight: bold;
	z-index: 2000;
	background: none;
	text-align: center;
	display: none;
	background: url('../../images/admin/bg_trans_dark.png') repeat;
	
	box-shadow: 0 0 2px #666;
	-webkit-box-shadow: 0 0 2px #666;
	-moz-box-shadow: 0 0 2px #666;
}

#message_wrapper .inner 
{
	height: 54px;
	padding: 10px;
	position: fixed;
	top: 50%;
	margin-top: -37px;
	right: 0px;
	/* left: 310px; */
	left: 0px;
}

#message_wrapper .inner #message
{
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;
	color: #FFF;
	letter-spacing: .05em;
}

#success_wrapper
{
	background: #D2ECBA url("../../images/admin/notifications/bg_success.png") repeat-x;
	color: #336801;
	padding: 8px;
	border-bottom: 1px solid #A6D877;
	margin: 0 30px 0 230px;
	min-height: 16px;
	font-size: 12px;
	position: absolute;
	z-index: 999;
	right: -30px;
	left: -30px;
	display: none;
}

#success_wrapper .icon
{
	background: url("../../images/admin/notifications/success.png") center no-repeat;
	width: 16px;
	height: 16px;
	float: left; 
	margin: 0px 10px 0px 0px;
}

#error_wrapper
{
	background: #F9C9C9 url("../../images/admin/notifications/bg_error.png") repeat-x;
	color: #8D0D0D;
	padding: 10px;
	border-bottom: 1px solid #F3ABAB;
	margin: 0px 30px 0px 229px;
	min-height: 16px;
	font-size: 12px;
	position: absolute;
	z-index: 999;
	right: -30px;
	left: -30px;
	display: none;
}

#error_wrapper .icon
{
	background: url("../../images/admin/notifications/error.png") center no-repeat;
	width: 16px;
	height: 16px;
	float: left; 
	margin: 0px 10px 0px 0px;
}

.notification .close
{
	height: 16px;
	width: 16px;
	cursor: pointer;
	float: right;
}

.notification .close img
{
	display: block;
}

#message_wrapper #message p,
#success_wrapper #message p,
#error_wrapper #error p
{
	padding: 0px !important;
	margin: 0px !important;
}