
#album-cover{
	width:310px;
	height:310px;
	float:left;
	overflow:hidden;
	margin:5px;
}
#album-cover img{
	width:100%;
}

.album-hover{
	width:310px;
	height:310px;
}
.album-hover:hover img{
	width:100%;
}
.album-name{
	position:absolute;
	bottom:0;
	left:0;
	font-size:2.4em;
	color:#fff;
	z-index:99;
	text-align:left;
	padding:0 10px;
}
@media screen and (max-width: 320px) {
	#header {
		margin:0 0 5px 0 !important;
		width: 100% !important;
	}
	#content-mos{
		width: 100% !important;
	}
	#album-cover {
		width:100% !important;
		margin:0 0 5px 0 !important;
		height:310px !important;
		float:none;
	}
}